body{
    font-family: Verdana, Tahoma, sans-serif;
    
}

.container{
    margin: 20px;
    background-color: bisque;
    border-radius: 10px;
    border-style: solid;
    border-color: brown;
    border-width: 5px;
    border-style: dotted;
    padding: 10px;
    padding-left: 30px;
    max-width: 100%;
}

.container h2{
    font-family: 'Verdana', sans-serif;
}

.container a{
    color: brown;
}

.container li{
    list-style-type: square;
}

.container a:hover{
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
}

.container p{
    text-align: justify;
    width: 98%;
}
